h1{
    color: tomato;
    text-align: center;
    font-size: 60;
    text-decoration-line: underline;
    text-decoration-color: black
}


body {
    background-image: url(324.jpg);
    
}
p{
    float:
}
div.pepe{
    float: right
}